@charset "UTF-8";
.mobile-menu {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.mobile-menu .logo {
  display: inline-block;
  font-size: 38px;
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu__btn > span {
  position: relative;
  width: 35px;
  display: block;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform-origin: 80% 50% 0;
          transform-origin: 80% 50% 0;
}

.mobile-menu__btn > span > svg {
  position: absolute;
  top: -30px;
  right: -30px;
  fill: #111;
  width: 70px;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
}

.mobile-menu__main {
  padding: 0;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.9s;
  transition: opacity 0.5s, -webkit-transform 0.9s;
  transition: transform 0.9s, opacity 0.5s;
  transition: transform 0.9s, opacity 0.5s, -webkit-transform 0.9s;
  opacity: 0;
}

.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: #000;
  text-decoration: none !important;
}

.menu-open .mobile-menu {
  z-index: 99;
}

.menu-open .mobile-menu__cover {
  z-index: 98;
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__btn {
  z-index: 99 !important;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  right: 2px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.slider {
  width: 100%;
  position: fixed;
  z-index: -2;
  top: 0;
  overflow: hidden;
}

.slider img {
  height: 100vh;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__item {
  opacity: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: opacity 1.9s, -webkit-transform 5s;
  transition: opacity 1.9s, -webkit-transform 5s;
  transition: opacity 1.9s, transform 5s;
  transition: opacity 1.9s, transform 5s, -webkit-transform 5s;
}

.slider__text {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 1.9s;
  transition: opacity 1.9s;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
  letter-spacing: 0.5em;
  text-align: center;
}

.slider__text > span {
  font-size: 15px;
  letter-spacing: 1em;
}

.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: quasimoda, "Noto Sans Japanese", sans-serif;
  color: #111;
  font-size: 12px;
  line-height: 2;
  color: #111;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: normal;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:hover:focus {
  outline: none;
}

a input:focus,
a select:focus,
a textarea:focus {
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-xs, .sub-title, .blog__date {
  font-size: 10px;
}

.font-sm, .blog__title {
  font-size: 13px;
}

.font-md, .blog__category {
  font-size: 15px;
}

.font-lr, .main-title {
  font-size: 18px;
}

.font-lg {
  font-size: 28px;
}

.mb-xs, .blog__title, .blog__text {
  margin-bottom: 3px !important;
}

.mb-sm, .blog__date {
  margin-bottom: 16px !important;
}

.mb-md, .mobile-menu__item, .blog__head, .blog__item {
  margin-bottom: 45px !important;
}

.mb-lg {
  margin-bottom: 100px !important;
}

.pd-section, .blog {
  padding: 80px 0px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width, .header__inner, .footer {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.content-width-full, .main__inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1070px;
}

.main-title {
  text-align: center;
  letter-spacing: 0.16em;
  color: #000;
  display: block;
  text-transform: uppercase;
}

.sub-title {
  letter-spacing: 0.2em;
  color: #000;
  text-transform: uppercase;
}

.logo {
  font-size: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 0.7em;
}

.flex, .blog__item, .footer__nav, .footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content {
  position: relative;
  z-index: 1;
}

#container {
  background-color: white;
  position: relative;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

header {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90;
  border-bottom: 1px dashed #000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: none;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__li {
  text-transform: uppercase;
  margin-left: 20px;
}

.header__li > a {
  color: #000;
  text-decoration: none !important;
  text-transform: uppercase;
}

.header .logo {
  font-size: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider {
  height: 100vh;
}

.main {
  margin-top: 100vh;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 −５px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 −５px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.blog__item {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__category {
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: 5%;
}

.blog__img {
  height: 200px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.blog__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__cont {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 20px 25px 0;
}

.blog__title {
  color: #111;
}

.blog__text {
  color: #808085;
}

.footer {
  position: relative;
  border-top: 1px dashed #000;
  padding: 60px 0;
}

.footer__scissors {
  font-size: 20px;
  z-index: 10;
  position: absolute;
  top: -21px;
  left: -10px;
}

.footer__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__li {
  text-transform: uppercase;
  padding: 0;
  margin: 10px;
}

.footer__li > a {
  color: #000;
}

.footer .logo {
  font-size: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side {
  z-index: 90;
  display: none;
  position: fixed;
  top: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.side .scissors {
  font-size: 15px;
  vertical-align: middle;
}

.side.left {
  left: -50px;
}

.side.left.inview {
  left: 50px;
}

.side.left .side__inner {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.side.right {
  right: -50px;
}

.side.right.inview {
  right: 50px;
}

.side.right .side__inner {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.icon {
  position: relative;
}

.icon.twitter::before {
  background-image: url(../images/twitter.svg);
}

.icon.fb::before {
  background-image: url(../images/facebook.svg);
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .flex, .blog__item, .footer__nav, .footer__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content-width-full, .main__inner {
    width: 90%;
    margin: 0 auto;
    max-width: 1070px;
  }
  .footer .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__li {
    margin-left: 0;
    margin-right: 30px;
  }
  .blog__img {
    height: 300px;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .header__nav {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu__btn {
    display: none;
  }
  .footer__li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .side {
    display: block;
  }
  .sidein {
    display: block;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .blog__img {
    height: 350px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */