/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.side {
  display: block;
}

.sidein {
  display: block;
  transform: none !important;
}
.slider {
  height: 600px;
}
.main {
  margin-top: 600px;
}
