/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.side {
  display: block;
}

.sidein {
  display: block;
  transform: none !important;
}

.blog__img {
  height: 350px;
}
