/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.header {
  &__nav {
    display: block;
  }
}

.mobile-menu {
  display: none;
  &__btn {
    display: none;
  }
  &__cover {
    display: none;
  }
}

.footer {
  &__li {
    justify-content: flex-start;
  }
}
