/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: quasimoda, "Noto Sans Japanese", sans-serif;
  color: #111;
  font-size: 12px;
  line-height: 2;
  color: #111;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: normal;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: none;

    &:focus {
      outline: none;
    }
  }
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
  }
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-xs {
  font-size: 10px;
}
.font-sm {
  font-size: 13px;
}
.font-md {
  font-size: 15px;
}
.font-lr {
  font-size: 18px;
}
.font-lg {
  font-size: 28px;
}
.mb-xs {
  margin-bottom: 3px !important;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-md {
  margin-bottom: 45px !important;
}
.mb-lg {
  margin-bottom: 100px !important;
}
.pd-section {
  padding: 80px 0px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.content-width-full {
  width: 100%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.main-title {
  @extend .font-lr;
  text-align: center;
  letter-spacing: 0.16em;
  color: $cMainTitle;
  display: block;
  text-transform: uppercase;
}
.sub-title {
  @extend .font-xs;
  letter-spacing: 0.2em;
  color: $cSubTitle;
  text-transform: uppercase;
}
//----logo----//
.logo {
  font-size: 42px;
  display: flex;

  &__img {
    width: 0.7em;
  }
}
//----flex----//
.flex {
  display: flex;
  flex-direction: column;
}

//----領域サイズ----//

#main-content {
  position: relative;
  z-index: 1;
}

#container {
  background-color: $cWhite; //後ろに隠れたモバイルメニューのロゴを隠す
  position: relative;
  transition: transform 0.8s;
}
//----header----//

header {
  opacity: 0;
  transition: all 0.2s;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-color: rgba($color: $cWhite, $alpha: 0.9);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  z-index: 90;
  border-bottom: 1px dashed $cBlack;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }
  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__li {
    text-transform: uppercase;
    margin-left: 20px;

    & > a {
      color: $cBlack;
      text-decoration: none !important;
      text-transform: uppercase; //大文字表記
    }
  }

  & .logo {
    font-size: 50px;
    justify-content: center;
  }
}
//----main----//
//画面サイズごとに高さ変更
.slider {
  height: 100vh;
}
.main {
  margin-top: 100vh;
  background-color: $cWhite;
  position: relative;
  box-shadow: 0 −５px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;

  &__inner {
    @extend .content-width-full;
  }
}
.blog {
  &__head {
    @extend .mb-md;
  }
  @extend .pd-section;

  &__item {
    position: relative;
    @extend .flex;
    justify-content: space-between;
    @extend .mb-md;
  }
  &__category {
    @extend .font-md;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 5%;
  }
  &__img {
    height: 200px; //高さは画面の大きさで変更
    flex-basis: 60%;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__cont {
    flex-basis: 40%;
    padding: 20px 25px 0;
  }
  &__title {
    @extend .mb-xs;
    @extend .font-sm;
    color: #111;
  }
  &__date {
    @extend .mb-sm;
    @extend .font-xs;
  }
  &__text {
    color: $cCaption;
    @extend .mb-xs;
  }
}
//----footer----//
.footer {
  position: relative;
  border-top: 1px dashed $cBlack;
  padding: 60px 0;
  @extend .content-width;

  &__scissors {
    font-size: 20px;
    z-index: 10;
    position: absolute;
    top: -21px;
    left: -10px;
  }

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    text-transform: uppercase;
    padding: 0;
    margin: 10px;

    & > a {
      color: $cSubTitle;
    }
  }
  //footer内のロゴ
  & .logo {
    font-size: 38px;
    justify-content: center;
  }
}

//----サイドバー----//
.side {
  z-index: 90;
  display: none; //1280upで表示
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in;

  // & .tween-animate-title {
  //   color: $cBlack;
  //   text-decoration: none !important;
  //   margin: 0 40px;
  //   vertical-align: middle; //inline要素に指定する
  //   letter-spacing: 2px;
  // }
  .scissors {
    font-size: 15px;
    vertical-align: middle;
  }
  &.left {
    left: -50px;

    &.inview {
      left: 50px;
    }

    & .side__inner {
      transform-origin: top left; //文字の左上基準の回転にする
      transform: rotate(-90deg);
    }
  }
  &.right {
    right: -50px;

    &.inview {
      right: 50px;
    }

    & .side__inner {
      transform-origin: top right; //文字の左上基準の回転にする
      transform: rotate(90deg);
    }
  }
}
.icon {
  position: relative;

  // @include p-base($left: -20px, $top: 50%, $width: 1em, $height: 1em) {
  //   transform: translateY(-50%);
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  // }

  &.twitter {
    &::before {
      background-image: url(../images/twitter.svg);
    }
  }
  &.fb {
    &::before {
      background-image: url(../images/facebook.svg);
    }
  }
}
