.fall {
  & > .rope {
    height: 35px !important;
  }
}
.fall.sns__title {
  display: block;
  animation: move1 1.8s 0.1s ease-in forwards;
}

.fall.sns__li:nth-child(1) > a {
  display: block;
  animation: move2 1.22s 0.1s ease-in forwards;
}
.fall.sns__li:nth-child(2) > a {
  display: block;
  animation: move3 1.17s 0.1s ease-in forwards;
}
.fall.sns__li:nth-child(3) > a {
  display: block;
  animation: move4 1.02s 0.1s ease-in forwards;
}
.fall.sns__li:nth-child(4) > a {
  display: block;
  animation: move5 0.94s 0.1s ease-in forwards;
}

@keyframes move1 {
  0% {
    transform: none;
  }
  70% {
    transform: translateY(610px);
  }
  80% {
    transform: translateY(610px) translateX(-10x);
  }
  95% {
    transform: translateY(605px) translateX(-95x) rotate(-25deg);
  }

  100% {
    transform: translateY(605px) translateX(-100px) rotate(-55deg);
  }
}
@keyframes move2 {
  0% {
    transform: none;
  }
  90% {
    transform: translateY(560px);
  }
  100% {
    transform: translateY(570px) translateX(-50px) rotate(-28deg);
  }
}

@keyframes move3 {
  0% {
    transform: none;
  }
  90% {
    transform: translateY(540px);
  }
  100% {
    transform: translateY(570px) translateX(30px) rotate(25deg);
  }
}
@keyframes move4 {
  0% {
    transform: none;
  }
  95% {
    transform: translateY(496px);
  }
  100% {
    transform: translateY(495px) translateX(-15px) rotate(-10deg);
  }
}
@keyframes move5 {
  0% {
    transform: none;
  }
  95% {
    transform: translateY(471px);
  }
  100% {
    transform: translateY(470px);
  }
}
