.loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $cWhite;
  z-index: 1000;

  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__icon {
    display: block;
    width: 50px;
    margin-bottom: 10px;
    margin-left: 20px;

    @include animation(
      $name: kf-loading,
      $duration: 2s,
      $iteration-count: infinite
    );
  }
  &__img {
    display: block;
    width: 100px;
  }
}

@keyframes kf-loading {
  0% {
    transform: rotate3d(5, 0, 0, 0deg);
  }
  50% {
    transform: rotate3d(10, 180, 0, 0, 180deg);
  }
  100% {
    transform: rotate3d(5, 360, 0, 360deg);
  }
}
